.home-page {
  .hero {
    &__title {
      max-width: 697px;
      padding: 128px 0;

      @media (max-width: $tablet) {
        padding: 40px 0;
      }
    }

    @media (max-width: $tablet) {
      &__container {
        max-width: 288px;
        margin: 0;
      }
    }
  }

  .slider {
    padding-bottom: 128px;
    display: flex;
    justify-content: space-between;
    gap: 32px;

    @media (max-width: $tablet) {
      padding: 0 0 64px 16px;
      justify-content: flex-start;
    }

    &__img {
      margin-bottom: 16px;

      @media (max-width: $tablet) {
        width: 257px;
        height: 252px;
      }
    }

    &__item-1,
    &__item-2 {
      @media (max-width: $tablet) {
        display: none;
      }
    }
    &__name-hide {
      visibility: hidden;
    }
  }

  .describe {
    &__container {
      padding-bottom: 128px;

      @media (max-width: $tablet) {
        padding-bottom: 48px;
        max-width: 288px;
        margin: 0;
      }
    }

    &__info {
      display: flex;
      justify-content: space-between;

      @media (max-width: $tablet) {
        flex-direction: column;
        gap: 48px;
      }
    }

    &__info-title-text {
      @media (max-width: $tablet) {
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.05em;
      }
    }

    &__info a {
      display: block;
      padding-top: 28px;
    }

    &__info-title-text1 {
      @media (max-width: $tablet) {
        margin-bottom: 50px;
      }
    }

    &__info-text {
      max-width: 480px;
    }

    &__info-text p {
      @media (max-width: $tablet) {
        font-size: 16px;
        line-height: 27px;
      }
    }

    &__info-text-par1 {
      margin-bottom: 44px;
    }
  }

  .posts {
    &__container {
      padding-bottom: 126px;

      @media (max-width: $tablet) {
        padding-bottom: 64px;
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 52px;

      @media (max-width: $tablet) {
        flex-direction: column;
        gap: 8px;
        margin-bottom: 48px;
      }
    }
    &__row {
      display: flex;
      justify-content: space-between;
      gap: 34px;

      @media (max-width: $tablet) {
        flex-direction: column;
        gap: 48px;
      }
    }

    &__item {
      max-width: 350px;

      @media (max-width: $tablet) {
        max-width: 288px;
      }
    }

    &__img {
      margin-bottom: 24px;

      @media (max-width: $tablet) {
        margin-bottom: 16px;
      }
    }

    &__description {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;

      @media (max-width: $tablet) {
        flex-direction: column;
        gap: 8px;
      }
    }

    &__item-title {
      margin-bottom: 65px;

      @media (max-width: $tablet) {
        margin-bottom: 24px;
      }
    }

    &__item-title2 {
      margin-bottom: 25px;
    }
  }
}
